<div class="container">
  <div class="name">
    <h1>{{books[index].name}}</h1>
    <p>{{books[index].author}}</p>
  </div> 
   <div class="description">
    <p>{{books[index].description}}</p>
  </div>
  <div class="current-rating">
    {{books[index].averageRating}}
  </div>
  <div class="rate-book">
    <div class="star-rating">1
    </div>
    <div class="star-rating">2
    </div>
    <div class="star-rating">3
    </div>
    <div class="star-rating">4
    </div>
    <div (click)= "addNewReview(5)" class="star-rating">5
    </div>
  </div>
</div>
<div [style.visibility] ="reviewCompleted ? 'visible' : 'hidden'" class="post-rate">
  <button (click)="review()">
      <p>Искам да оценя пак</p>
  </button>
  <button (click)="getVideo()">
      <p>Нееее, добре съм, стига толкова</p>
  </button>
  <a href={{link}}></a>
</div>